*.[oa]
*.l[oa]
*~
tempo2
stamp-h1
Makefile
Makefile.in
.deps
.libs
config.h
config.h.in
configure
libtool
autoconf
config
aclocal.m4
autom4te.cache
config.log
config.cache
config.status
plugin/build_settings
